<!DOCTYPE html>
<html>
<head>
	<!-- If the title is given display the title otherwise display "No title specified" -->
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>No title specified</title>
	{% endif %}

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Additional bootstrap toggles -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Import the favicon -->
	<link rel="shortcut icon" href="favicon.png">



</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fullwidth">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
							<a class="navbar-header" title="ToDo List" href="/">
								<!-- Add the favicon as the logo of the website -->
								<img src="favicon.png" style="max-width: 30px; margin-top: -5px;">
							</a>
			      </div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Overview</a></li>
						<li><a href="create_task">Add a task</a></li>
						<li><a href="completed_tasks">Completed tasks</a></li>
						<li><a href="uncompleted_tasks">Uncompleted tasks</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- body of the page -->
	<div class="container-fluid" style="padding-top: 40px;">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
