{% extends "base.html" %}
{% block content %}
<h1>Create a task</h1><br>
<div class="col-md-10 col-md-offset-1">
	<form role="form" action="" method="post" name="Create a task">
		<div class="form-group">
			{{ form.hidden_tag() }}

			{{ form.task_title(placeholder="Enter the title of the task", class="form-control inputlg") }}
			{% for error in form.task_title.errors %}
				<span style="color: red;">{{ error }}</span>
			{% endfor %}<br>

			{{ form.task_description(placeholder="Enter the description of the task", class="form-control inputlg") }}
			{% for error in form.task_description.errors %}
				<span style="color: red;">{{ error }}</span>
			{% endfor %}<br>
			<p><input type="submit" value="Create" href="/" class="btn btn-primary center-block"></p>
		</div>
	</form>
</div>
{% endblock %}