{% extends "base.html" %}
{% block content %}
<h1>Overview</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in array %}
      <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.description }}</td>

        {% if row.done == False %}
        <td><input type="checkbox" checked data-toggle="toggle" data-on="ToDo" data-off="Done" onchange="window.location.href='/toggle/index/{{ row.id }}'"></td>
        {% else %}
        <td><input type="checkbox" data-toggle="toggle" data-on="ToDo" data-off="Done" onchange="window.location.href='/toggle/index/{{ row.id }}'"></td>
        {% endif %}

        <td><a href="/delete/index/{{ row.id }}" class="btn btn-danger">X</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
